/*
 Theme Name:   Thoughtfull Foods
 Theme URI:    https://thoughtfullfoods.com/
 Description:  Storefront child theme for Thoughtfull Foods
 Author:       Creative Cache
 Author URI:   https://creativecache.co/;
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  thoughtfull-foods
*/

.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text]
input[type=url],
textarea {
	box-shadow: none;
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
	margin-bottom: 0;
}

body.home #content > .col-full {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

#product-slider {
	height: 100vh;
	max-height: calc(100vh - 134px);
	overflow: hidden;
	width: 100%;
	position: relative;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#product-slider .product-slider-nav {
	height: 100%;
	width: 100%;
	position: absolute;
}

#product-slider .product-slider-nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}

#product-slider .product-slider-nav .prev {
	float: left;
	display: none;
}

#product-slider .product-slider-nav .next {
	float: right;
}

#product-slider ul {
	margin: 0;
	list-style: none;
	height: 100%;
}

#product-slider .product-slider-item {
	height: 100%;
	float: left;
	opacity: .75;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#product-slider .product-slider-item.active {
	width: 60%;
	z-index: 9;
	opacity: 1;
}

#product-slider .product-slider-item .product-image a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

#product-slider .product-slider-item .product-image {
	width: 100%;
	height: 70%;
}

#product-slider .product-slider-item .product-image img {
	max-height: 100%;
	max-width: 100%;
	margin: auto auto;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0;
}

#product-slider .product-slider-item:not(.active) .product-image img {
    max-width: 75%;
    min-width: 100px;
}

#product-slider .product-slider-item .product-details {
	text-align:center;
	height: 30%;
	padding: 0 2em;
}

#product-slider .product-slider-item .product-details-container {
	
}

#product-slider .product-slider-item .product-details h2 {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}

#product-slider .product-slider-item:not(.active) .product-details h2 {
	font-size: 0em;
	opacity: 0;
}

#product-slider .product-slider-item .product-details a {
	padding: 0;
}

#product-slider .product-slider-item .product-details p {
	
}

@media (min-width: 768px) {
	.site-header {
	    padding-top: 1em;
	}

	.custom-logo-link,
	.site-branding,
	.site-header-cart,
	.site-logo-anchor,
	.site-logo-link,
	.site-search {
		margin-bottom: 0;
	}

	.main-navigation ul.menu > li > a,
	.main-navigation ul.nav-menu > li > a {
		padding: 1em;
	}

	.site-header-cart .cart-contents {
		padding: 1em 0;
	}

	.storefront-breadcrumb {
		margin: 0;
	}

	.storefront-full-width-content .woocommerce-products-header,
	.storefront-full-width-content.woocommerce-account .entry-header,
	.storefront-full-width-content.woocommerce-cart .entry-header,
	.storefront-full-width-content.woocommerce-checkout .entry-header {
		padding: 0 0 1.5em;
	}
}